asgiref==3.10.0
bcrypt==5.0.0
certifi==2025.11.12
debugpy==1.8.17
Django==5.2.8
django-cors-headers==4.9.0
djangorestframework==3.16.1
dnspython==2.8.0
mongoengine==0.29.1
pymongo==4.15.4
python-dotenv==1.2.1
sqlparse==0.5.3
tzdata==2025.2
